# Python
__pycache__/
*.pyc
*.pyo
venv/
env/

# Telethon session
*.session

# Databases
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Screenshots
tv_screenshots/

# IDE
.idea/
.vscode/
*.iml

# OS junk
.DS_Store
Thumbs.db